:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ff6879;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Rubik Doodle Shadow";
  text-align: center;
}

.dropdownContainer {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 600px) {
  .app-container {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    padding-left: 2rem;
  }

  .dropdownContainer {
    flex-direction: column;
  }
}
